# Scikit-Transformers : BaseDataCleaner

## Imports

Import warnings and disable warnings for this notebook.

In [1]:
import warnings

warnings.filterwarnings("ignore")

Import the data libraries

In [2]:
import pandas as pd
import numpy as np

Import visualisation libraries

In [3]:
import seaborn as sns

Uncomment the following cell to install the necessary packages.

In [4]:
#!pip install scikit-transformers

Import scikit-transformers

In [5]:
try:
    from sktransf.utils import get_titanics
except Exception as e:
    print(e)
    print("Please install thea package using the following command")
    print("pip install scikit-transformers")
    from sktransf.utils import get_titanic

cannot import name 'get_titanics' from 'sktransf.utils' (/home/alex/tmp/scikit-transformers/sktransf/utils/__init__.py)
Please install thea package using the following command
pip install scikit-transformers

In [6]:
from sktransf.cleaner import BaseDataCleaner

## Data

Get the data from the [Kaggle](https://www.kaggle.com/c/titanic/data) Titanic dataset.

In [7]:
df, _ = get_titanic(only_num=False)

Display the first few rows of the data.

In [8]:
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Adding dummy features

In [10]:
df["bool_column"] = np.random.choice(["A", "B"], size=df.shape[0])
df["unique_column"] = "dummy"
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,bool_column,unique_column
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,A,dummy
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,A,dummy
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,B,dummy
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,A,dummy
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,B,dummy
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,A,dummy
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,A,dummy
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,A,dummy
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,B,dummy
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,A,dummy

## Using BaseDataCleaner

In [11]:
cleaner = BaseDataCleaner(force_df_out=True)
clean_df = cleaner.fit_transform(df)
clean_df

WARNING:root:Columns dropped: []
WARNING:root:Columns with NaN added: []
WARNING:root:Columns dropped: []
WARNING:root:Columns with NaN added: []
WARNING:root:fColumns in input data are different from fitted columns fit : {fitted_columns} != transform : {columns}
WARNING:root:Columns dropped: []
WARNING:root:Columns with NaN added: ['Name', 'PassengerId']
WARNING:root:fColumns in input data are different from fitted columns fit : {fitted_columns} != transform : {columns}
WARNING:root:Columns dropped: []
WARNING:root:Columns with NaN added: ['unique_column']

TypeError: NDFrame.replace() got an unexpected keyword argument 'errors'

In [ ]:
cleaner = BaseDataCleaner(
    force_df_out=True, sku_threshold=0.5, skew_threshold=3
)
clean_df = cleaner.fit_transform(df)
clean_df

Fit and transform the data using the StandardScaler

In [ ]:
clean_df = StandardScaler(force_df_out=True).fit_transform(df)
clean_df

Checking the new Fare column

In [ ]:
clean_df.Fare.describe().round(0)

In [ ]:
sns.displot(clean_df.Fare)